<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleName</key><string>Pawlet</string>
<key>CFBundleDisplayName</key><string>Pawlet</string>
<key>CFBundleIdentifier</key><string>com.ruzwid.pawlet</string>
<key>CFBundleExecutable</key><string>Pawlet</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.6.4</string>
<key>CFBundleVersion</key><string>13</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>NSHighResolutionCapable</key><true/>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>CFBundleIconFile</key><string>AppIcon</string>
<key>CFBundleURLTypes</key><array><dict>
<key>CFBundleURLName</key><string>Pawlet controls</string>
<key>CFBundleURLSchemes</key><array><string>pawlet</string><string>desktoppets</string></array>
<key>CFBundleTypeRole</key><string>Viewer</string>
</dict></array>
<key>CFBundleDocumentTypes</key><array><dict>
<key>CFBundleTypeName</key><string>Mini Pack</string>
<key>CFBundleTypeRole</key><string>Viewer</string>
<key>LSHandlerRank</key><string>Owner</string>
<key>LSItemContentTypes</key><array><string>community.desktoppets.petpack</string></array>
</dict></array>
<key>UTExportedTypeDeclarations</key><array><dict>
<key>UTTypeIdentifier</key><string>community.desktoppets.petpack</string>
<key>UTTypeDescription</key><string>Mini Pack</string>
<key>UTTypeConformsTo</key><array><string>public.zip-archive</string></array>
<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>petpack</string></array></dict>
</dict></array>
</dict></plist>
